@import url(https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto+Serif:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #424242;
  line-height: 1;
  font-family: "Lato";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #e5e5e5;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 1.25rem 3.125rem;
  color: #ffffff;
  line-height: 1.25;
  /* 25/20 */
  background-color: #01996D;
  border-radius: 0.25rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

.button--small {
  padding: 0.8125rem 3rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page__how-it-works {
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
}

.page__how-it-works.how-it-work._watcher-view {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.page__story {
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
}

.page__story.story._watcher-view {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.page__product {
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
}

.page__product.product._watcher-view {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.subtitle {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.57;
}

.title {
  font-weight: 700;
  line-height: 1.57;
  color: #01996D;
}

.text {
  font-weight: 500;
  line-height: 1.5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 50;
  padding: 0.625rem 0rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4.0625rem;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0rem 0.9375rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.625rem;
}

.menu__link {
  position: relative;
  font-weight: 500;
  line-height: 1.2;
  /* 24/20 */
  color: #292929;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1875rem;
  width: 0;
  height: 0.125rem;
  background-color: #01996D;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.actions-header__button {
  position: relative;
  z-index: 5;
}

.actions-header__button--bg-none {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.actions-header__button--bg-none::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1875rem;
  width: 0;
  height: 0.125rem;
  background-color: #01996D;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #245852;
}

.footer__container {
  color: #ffffff;
}

.footer__logo {
  display: inline-block;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-footer__link {
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 1.2;
  /* 30/25 */
  position: relative;
}

.menu-footer__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1875rem;
  width: 0;
  height: 0.125rem;
  background-color: #ffffff;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.no-webp .main{
  background: url(../img/main/bg.jpg) center/cover no-repeat; }

.main {
  margin-top: 5.3125rem;
}

.body-main {
  width: 26.875rem;
}

.body-main__title {
  font-weight: 700;
  line-height: 1.13;
  /* 74/65 */
  color: #01996D;
}

.body-main__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.body-main__text {
  line-height: 1.55;
  /* 31/20 */
  color: #484848;
}

.body-main__text:not(:last-child) {
  margin-bottom: 1.125rem;
}

.how-it-work {
  margin-bottom: 3.125rem;
}

.header-how-it-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-how-it-work__heading {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.header-how-it-work__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-left: 1.875rem;
}

.body-how-it-work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.body-how-it-work__item:not(:last-child) {
  margin-bottom: 4.375rem;
}

.body-how-it-work__item:nth-child(2n) {
  margin-top: 17.9375rem;
}

.item-how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-how__title {
  position: relative;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.5;
  color: #000;
  text-align: center;
}

.item-how__title::before {
  content: "";
  position: absolute;
  width: 9.8125rem;
  height: 9.8125rem;
  color: rgba(1, 153, 109, 0.2);
}

.item-how__title--01::before {
  top: -2.8125rem;
  left: 1.875rem;
  background: url(../img/how-it-work/number/01.svg) 0 0 no-repeat;
}

.item-how__title--02::before {
  top: -2.8125rem;
  left: -0.9375rem;
  background: url(../img/how-it-work/number/02.svg) 0 0 no-repeat;
}

.item-how__title--03::before {
  top: -3.125rem;
  left: 1.875rem;
  background: url(../img/how-it-work/number/03.svg) 0 0 no-repeat;
}

.item-how__text {
  width: 95%;
}

.item-how__image {
  border-radius: 0.75rem;
  overflow: hidden;
}

.item-how__image img {
  width: 100%;
}

.story {
  background-color: #245852;
}

.story__container {
  max-width: 94.1875rem;
}

.story__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.story__title {
  width: 90%;
  color: #ffffff;
}

.story__title:not(:last-child) {
  margin-bottom: 2.0625rem;
}

.story__text {
  font-size: 1.5625rem;
  line-height: 1.57;
  color: #ffffff;
}

.story__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60.6%;
          flex: 0 0 60.6%;
  border-radius: 1.0625rem;
  overflow: hidden;
}

.story__media img {
  width: 100%;
}

.product__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46.58%;
          flex: 0 0 46.58%;
  min-height: 35.9375rem;
  background-color: rgba(1, 153, 109, 0.2);
  border-radius: 1.125rem;
}

.product__image img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.author-product {
  position: absolute;
  width: 21.1%;
  height: 51%;
  bottom: -13%;
  left: 0;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 1.57;
  color: #000;
  padding: 1.375rem;
}

.author-product__subtitle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  padding-bottom: 0.3125rem;
  font-weight: 600;
  font-size: 0.875rem;
  border-bottom: 0.0625rem solid #000;
}

.author-product__subtitle:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.author-product__ava {
  margin: 0 auto;
  width: 3.59375rem;
  height: 3.59375rem;
}

.author-product__ava:not(:last-child) {
  margin-bottom: 0.6875rem;
}

.author-product__label {
  font-size: 0.75rem;
}

.author-product__label:not(:last-child) {
  margin-bottom: 1.25rem;
}

.author-product__title {
  font-weight: 700;
  font-size: 1rem;
}

.author-product__title:not(:last-child) {
  margin-bottom: 1rem;
}

.author-product__item {
  font-size: 0.6875rem;
}

.author-product__item:not(:last-child) {
  margin-bottom: 1rem;
}

@media (min-width: 87.5em) {
  .title {
    font-size: 3.125rem;
  }

  .menu__list {
    -webkit-column-gap: 4.5rem;
       -moz-column-gap: 4.5rem;
            column-gap: 4.5rem;
  }

  .actions-header {
    gap: 2.1875rem;
  }

  .footer {
    padding-top: 5.9375rem;
  }

  .footer {
    padding-bottom: 9rem;
  }

  .footer__logo:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .menu-footer__list {
    gap: 3.75rem;
  }

  .main {
    margin-bottom: 10.5625rem;
  }

  .main {
    padding-top: 12.9375rem;
  }

  .main {
    padding-bottom: 21rem;
  }

  .body-main__title {
    font-size: 4.0625rem;
  }

  .header-how-it-work:not(:last-child) {
    margin-bottom: 10rem;
  }

  .header-how-it-work__heading {
    padding-right: 6.875rem;
  }

  .body-how-it-work {
    -webkit-column-gap: 6.25rem;
       -moz-column-gap: 6.25rem;
            column-gap: 6.25rem;
  }

  .item-how__title:not(:last-child) {
    margin-bottom: 3.4375rem;
  }

  .item-how__text:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .story {
    margin-bottom: 7.5rem;
  }

  .story__body {
    padding-top: 14.3125rem;
  }

  .story__body {
    padding-bottom: 11.6875rem;
  }

  .story__text:not(:last-child) {
    margin-bottom: 3.5625rem;
  }

  .product {
    margin-bottom: 15.125rem;
  }

  .product__container {
    gap: 5.375rem;
  }

  .product__image {
    margin-left: 3.75rem;
  }

  .product__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 75em) {
  .story__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .story__media {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 62em) {
  .header-how-it-work__heading {
    padding-right: 0.0000000625rem;
  }

  .product__image {
    margin-left: 0.0000000625rem;
  }
}

@media (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.375rem;
  }

  .actions-header {
    gap: 0.625rem;
  }

  .footer {
    padding-top: 1.875rem;
  }

  .footer {
    padding-bottom: 1.875rem;
  }

  .footer__logo:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .menu-footer__list {
    gap: 1.875rem;
  }

  .main {
    margin-bottom: 3.125rem;
  }

  .main {
    padding-top: 2.5rem;
  }

  .main {
    padding-bottom: 2.5rem;
  }

  .body-main__title {
    font-size: 3rem;
  }

  .header-how-it-work:not(:last-child) {
    margin-bottom: 5rem;
  }

  .body-how-it-work {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .item-how__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .item-how__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .story {
    margin-bottom: 3.125rem;
  }

  .story__body {
    padding-top: 2.5rem;
  }

  .story__body {
    padding-bottom: 2.5rem;
  }

  .story__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .product {
    margin-bottom: 5rem;
  }

  .product__container {
    gap: 1.875rem;
  }

  .product__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .body-how-it-work {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .story__title {
    width: 100%;
  }

  .product__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .product__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .author-product {
    width: 30%;
    height: 30%;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.875rem;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    overflow: auto;
    background-color: #01996D;
    padding: 6.875rem 0.625rem 1.875rem 0.625rem;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 5.625rem;
    background-color: #245852;
    z-index: 2;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }

  .menu-open .menu__body {
    top: 0;
  }

  .menu-open .menu__body::before {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 1.875rem;
  }

  .menu__link {
    font-size: 1.875rem;
    color: #ffffff;
  }

  .menu__link::before {
    background-color: #ffffff;
  }

  .actions-header__button {
    padding: 0.5rem 1.25rem;
  }

  .menu-open .actions-header__button--bg-none {
    color: #ffffff;
  }

  .menu-open .actions-header__button--bg-none::before {
    background-color: #ffffff;
  }

  .icon-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #424242;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu-footer__link {
    font-size: 1.875rem;
  }

  .header-how-it-work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-how-it-work__heading {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .header-how-it-work__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-left: 0;
  }

  .body-how-it-work {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .body-how-it-work__item:nth-child(2n) {
    margin-top: 0;
  }

  .item-how__title--01::before {
    left: 35%;
  }

  .item-how__title--02::before {
    left: 35%;
  }

  .item-how__title--03::before {
    left: 35%;
  }

  .item-how__text {
    width: 100%;
  }

  .author-product {
    width: 40%;
    bottom: -3%;
  }
}

@media (any-hover: hover) and (max-width: 47.99875em) {
  .menu__link:hover {
    color: #ffffff;
  }

  .menu-open .actions-header__button--bg-none:hover {
    color: #ffffff;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 39.375em) {
  .body-main {
    width: 21.875rem;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    width: 1.5rem;
    overflow: hidden;
  }

  .menu {
    padding: 0;
  }

  .body-main {
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .body-main__button {
    width: 100%;
  }

  .story__button {
    width: 100%;
  }

  .product {
    margin-bottom: 15.625rem;
  }

  .product__button {
    width: 100%;
  }

  .author-product {
    width: 93%;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    bottom: -20%;
  }
}

@media (max-width: 26.25em) {
  .product__image img {
    width: 100%;
  }

  .product__image {
    min-height: 28.125rem;
  }
}

@media (min-width: 20em) and (max-width: 87.5em) {
@supports (font-size: clamp( 2.375rem , 2.1527777778rem  +  1.1111111111vw , 3.125rem )) {
    .title {
      font-size: clamp( 2.375rem , 2.1527777778rem  +  1.1111111111vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 2.375rem , 2.1527777778rem  +  1.1111111111vw , 3.125rem )) {
    .title {
      font-size: calc(2.375rem + 0.75 * (100vw - 20rem) / 67.5);
    }
}

@supports (gap: clamp( 0.625rem , 0.162037037rem  +  2.3148148148vw , 2.1875rem )) {
    .actions-header {
      gap: clamp( 0.625rem , 0.162037037rem  +  2.3148148148vw , 2.1875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.162037037rem  +  2.3148148148vw , 2.1875rem )) {
    .actions-header {
      gap: calc(0.625rem + 1.5625 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.6712962963rem  +  6.0185185185vw , 5.9375rem )) {
    .footer {
      padding-top: clamp( 1.875rem , 0.6712962963rem  +  6.0185185185vw , 5.9375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.6712962963rem  +  6.0185185185vw , 5.9375rem )) {
    .footer {
      padding-top: calc(1.875rem + 4.0625 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.2361111111rem  +  10.5555555556vw , 9rem )) {
    .footer {
      padding-bottom: clamp( 1.875rem , -0.2361111111rem  +  10.5555555556vw , 9rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.2361111111rem  +  10.5555555556vw , 9rem )) {
    .footer {
      padding-bottom: calc(1.875rem + 7.125 * (100vw - 20rem) / 67.5);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.3194444444rem  +  2.7777777778vw , 3.75rem )) {
    .footer__logo:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.3194444444rem  +  2.7777777778vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3194444444rem  +  2.7777777778vw , 3.75rem )) {
    .footer__logo:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 67.5);
    }
}

@supports (gap: clamp( 1.875rem , 1.3194444444rem  +  2.7777777778vw , 3.75rem )) {
    .menu-footer__list {
      gap: clamp( 1.875rem , 1.3194444444rem  +  2.7777777778vw , 3.75rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.3194444444rem  +  2.7777777778vw , 3.75rem )) {
    .menu-footer__list {
      gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 67.5);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 0.9212962963rem  +  11.0185185185vw , 10.5625rem )) {
    .main {
      margin-bottom: clamp( 3.125rem , 0.9212962963rem  +  11.0185185185vw , 10.5625rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.9212962963rem  +  11.0185185185vw , 10.5625rem )) {
    .main {
      margin-bottom: calc(3.125rem + 7.4375 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 2.5rem , -0.5925925926rem  +  15.462962963vw , 12.9375rem )) {
    .main {
      padding-top: clamp( 2.5rem , -0.5925925926rem  +  15.462962963vw , 12.9375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -0.5925925926rem  +  15.462962963vw , 12.9375rem )) {
    .main {
      padding-top: calc(2.5rem + 10.4375 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 2.5rem , -2.9814814815rem  +  27.4074074074vw , 21rem )) {
    .main {
      padding-bottom: clamp( 2.5rem , -2.9814814815rem  +  27.4074074074vw , 21rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , -2.9814814815rem  +  27.4074074074vw , 21rem )) {
    .main {
      padding-bottom: calc(2.5rem + 18.5 * (100vw - 20rem) / 67.5);
    }
}

@supports (font-size: clamp( 3rem , 2.6851851852rem  +  1.5740740741vw , 4.0625rem )) {
    .body-main__title {
      font-size: clamp( 3rem , 2.6851851852rem  +  1.5740740741vw , 4.0625rem );
    }
}

@supports not (font-size: clamp( 3rem , 2.6851851852rem  +  1.5740740741vw , 4.0625rem )) {
    .body-main__title {
      font-size: calc(3rem + 1.0625 * (100vw - 20rem) / 67.5);
    }
}

@supports (margin-bottom: clamp( 5rem , 3.5185185185rem  +  7.4074074074vw , 10rem )) {
    .header-how-it-work:not(:last-child) {
      margin-bottom: clamp( 5rem , 3.5185185185rem  +  7.4074074074vw , 10rem );
    }
}

@supports not (margin-bottom: clamp( 5rem , 3.5185185185rem  +  7.4074074074vw , 10rem )) {
    .header-how-it-work:not(:last-child) {
      margin-bottom: calc(5rem + 5 * (100vw - 20rem) / 67.5);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , 0.5787037037rem  +  6.4814814815vw , 6.25rem )) or (column-gap: clamp( 1.875rem , 0.5787037037rem  +  6.4814814815vw , 6.25rem ))) {
    .body-how-it-work {
      -webkit-column-gap: clamp( 1.875rem , 0.5787037037rem  +  6.4814814815vw , 6.25rem );
         -moz-column-gap: clamp( 1.875rem , 0.5787037037rem  +  6.4814814815vw , 6.25rem );
              column-gap: clamp( 1.875rem , 0.5787037037rem  +  6.4814814815vw , 6.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 0.5787037037rem  +  6.4814814815vw , 6.25rem )) or (column-gap: clamp( 1.875rem , 0.5787037037rem  +  6.4814814815vw , 6.25rem ))) {
    .body-how-it-work {
      -webkit-column-gap: calc(1.875rem + 4.375 * (100vw - 20rem) / 67.5);
         -moz-column-gap: calc(1.875rem + 4.375 * (100vw - 20rem) / 67.5);
              column-gap: calc(1.875rem + 4.375 * (100vw - 20rem) / 67.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6018518519rem  +  3.2407407407vw , 3.4375rem )) {
    .item-how__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.6018518519rem  +  3.2407407407vw , 3.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6018518519rem  +  3.2407407407vw , 3.4375rem )) {
    .item-how__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.1875 * (100vw - 20rem) / 67.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.5092592593rem  +  3.7037037037vw , 3.75rem )) {
    .item-how__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.5092592593rem  +  3.7037037037vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5092592593rem  +  3.7037037037vw , 3.75rem )) {
    .item-how__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 67.5);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.8287037037rem  +  6.4814814815vw , 7.5rem )) {
    .story {
      margin-bottom: clamp( 3.125rem , 1.8287037037rem  +  6.4814814815vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.8287037037rem  +  6.4814814815vw , 7.5rem )) {
    .story {
      margin-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 2.5rem , -1rem  +  17.5vw , 14.3125rem )) {
    .story__body {
      padding-top: clamp( 2.5rem , -1rem  +  17.5vw , 14.3125rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -1rem  +  17.5vw , 14.3125rem )) {
    .story__body {
      padding-top: calc(2.5rem + 11.8125 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 2.5rem , -0.2222222222rem  +  13.6111111111vw , 11.6875rem )) {
    .story__body {
      padding-bottom: clamp( 2.5rem , -0.2222222222rem  +  13.6111111111vw , 11.6875rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , -0.2222222222rem  +  13.6111111111vw , 11.6875rem )) {
    .story__body {
      padding-bottom: calc(2.5rem + 9.1875 * (100vw - 20rem) / 67.5);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.375rem  +  2.5vw , 3.5625rem )) {
    .story__text:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.375rem  +  2.5vw , 3.5625rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.375rem  +  2.5vw , 3.5625rem )) {
    .story__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.6875 * (100vw - 20rem) / 67.5);
    }
}

@supports (margin-bottom: clamp( 5rem , 2rem  +  15vw , 15.125rem )) {
    .product {
      margin-bottom: clamp( 5rem , 2rem  +  15vw , 15.125rem );
    }
}

@supports not (margin-bottom: clamp( 5rem , 2rem  +  15vw , 15.125rem )) {
    .product {
      margin-bottom: calc(5rem + 10.125 * (100vw - 20rem) / 67.5);
    }
}

@supports (gap: clamp( 1.875rem , 0.837962963rem  +  5.1851851852vw , 5.375rem )) {
    .product__container {
      gap: clamp( 1.875rem , 0.837962963rem  +  5.1851851852vw , 5.375rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.837962963rem  +  5.1851851852vw , 5.375rem )) {
    .product__container {
      gap: calc(1.875rem + 3.5 * (100vw - 20rem) / 67.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8796296296rem  +  1.8518518519vw , 2.5rem )) {
    .product__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8796296296rem  +  1.8518518519vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8796296296rem  +  1.8518518519vw , 2.5rem )) {
    .product__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 67.5);
    }
}
}

@media (min-width: 48em) and (max-width: 87.5em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -3.3916139241rem  +  9.0189873418vw , 4.5rem )) or (column-gap: clamp( 0.9375rem , -3.3916139241rem  +  9.0189873418vw , 4.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -3.3916139241rem  +  9.0189873418vw , 4.5rem );
         -moz-column-gap: clamp( 0.9375rem , -3.3916139241rem  +  9.0189873418vw , 4.5rem );
              column-gap: clamp( 0.9375rem , -3.3916139241rem  +  9.0189873418vw , 4.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -3.3916139241rem  +  9.0189873418vw , 4.5rem )) or (column-gap: clamp( 0.9375rem , -3.3916139241rem  +  9.0189873418vw , 4.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 3.5625 * (100vw - 48rem) / 39.5);
         -moz-column-gap: calc(0.9375rem + 3.5625 * (100vw - 48rem) / 39.5);
              column-gap: calc(0.9375rem + 3.5625 * (100vw - 48rem) / 39.5);
    }
}
}

@media (min-width: 62em) and (max-width: 87.5em) {
@supports (padding-right: clamp( 0.0000000625rem , -16.71568606rem  +  26.9607840686vw , 6.875rem )) {
    .header-how-it-work__heading {
      padding-right: clamp( 0.0000000625rem , -16.71568606rem  +  26.9607840686vw , 6.875rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -16.71568606rem  +  26.9607840686vw , 6.875rem )) {
    .header-how-it-work__heading {
      padding-right: calc(0.0000000625rem + 6.8749999375 * (100vw - 62rem) / 25.5);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -9.1176468444rem  +  14.7058821078vw , 3.75rem )) {
    .product__image {
      margin-left: clamp( 0.0000000625rem , -9.1176468444rem  +  14.7058821078vw , 3.75rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -9.1176468444rem  +  14.7058821078vw , 3.75rem )) {
    .product__image {
      margin-left: calc(0.0000000625rem + 3.7499999375 * (100vw - 62rem) / 25.5);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #07694d;
  }

  .menu__link:hover {
    color: #01996D;
  }

  .menu__link:hover::before {
    width: 100%;
  }

  .actions-header__button--bg-none:hover {
    color: #01996D;
  }

  .actions-header__button--bg-none:hover::before {
    width: 100%;
  }

  .menu-footer__link:hover::before {
    width: 100%;
  }
}

.webp .main{ background: url(../img/main/bg.webp) center/cover no-repeat; }