// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================
.page {
    // .page__main
    &__main {
    }
    // .page__how-it-works
    &__how-it-works {   
    }
    // .page__story
    &__story {    
    }
    // .page__product
    &__product {      
    }
}
//========================================================================================================================================================

.subtitle {
    font-weight: 600;
    font-size: rem(24);
    line-height: 1.57;    
}
.title {
    font-weight: 700;
    @include adaptiveValue("font-size", 50, 38);
    line-height: 1.57;
    color: $lightGreenColor;
}
.text {
    font-weight: 500;
    line-height: 1.5;
}

